@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}

html {
    font-family: 'Roboto';
}
p {
    font-size: 12px;
    color: var(--textos);
}
h1 {
    font-size: 26px;
    color: var(--titulos);
    padding-bottom: 20px;
}
h2 {
    font-size: 22px;
    color: var(--titulos);
}
h3 {
    font-size: 18px;
    color: var(--titulos);

/* ---------------------------------- */

}
#logo-bar {
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    color: white;
    margin: 0px auto auto;
    /*width: 90%;*/
}
#menu-bar {
    display: flex;
    background-color: var(--fondo-Menu);
    margin: auto;
    padding-top: 10px;
    width: 100%;
}
#logo-dine {
    width: 150px;
    padding-left: 40px;
}
#consultar {
    color: white;
    margin: 6px;
    font-size: 10px;
}
button {
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0px 5px 8px;
    font-size: 10px;
    text-align: center;
}
#paso-button {
    background-color: var(--magenta);
}
#gen-button {
    background-color: var(--celeste);
}
#init-button {
    background-color: var(--gris-claro);
    position:fixed;
    right:2vh;
}
footer {
    position: absolute;
    bottom: 0;
}
#cont-footer {
    background-color: var(--fondo-Footer);
    display: flex;
    justify-content: space-around;
}
#text-footer {
    color: lightgray;
}
p a {
    color: lightgray;
}