:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}

/*BOTONES DE LA BARRA DE MENU*/
#consultar {
    color: white;
    margin: 6px;
    font-size: 10px;
}
button {
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0px 5px 8px;
    font-size: 10px;
    text-align: center;
}
#paso-button {
    background-color: var(--magenta);
}
#gen-button {
    background-color: var(--celeste);
}
#init-button {
    background-color: var(--gris-claro);
    position: absolute;
    right: 5px;
}

/* SECCIÓN MSJS DE USUARIO */
#msg-container{
    position: relative; top: 110px;
}
.msg-divs { 
    width: 400px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}
#msg-1 {
    background-color: var(--mensaje-usuario-verde);
}
#msg-2 {
    background-color: var(--mensaje-usuario-rojo);
}
#msg-3 {
    background-color: var(--mensaje-usuario-amarillo);
}
.svg-icons {
    fill: #FFffFF;
    margin-right: 4px;
}
.msg-text {
    color: #FFffFF;
}

/*SECCIÓN TITULO*/
section h1 {
    width: 1024px;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

/*SECCIÓN GRILLA*/
#grid-container {
    position: relative;
    top: 110px;
    display: grid;
    grid-template-columns: 307.2px 102.4px 409.6px 204.8px;
    grid-template-rows: auto auto;
    border-style: solid;
    border-color: var(--borde-Grilla);
    border-width: 1px;
    border-radius: 15px;
    width: 1024px;
    height: 250px;
    background-color: rgb(250, 250, 250);
    margin: 0 auto 0 auto;
}

.grid-thead {
    text-align: center;
    color: var(--titulo-Grilla);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-color: var(--borde-inferior-Grilla);
    border-width: 1px;
    border-bottom-style: solid;
}

#item-4 {
    padding-left: 0%;
}

.grid-tbody {
    padding: 15px 0px;
}

.texto-elecciones-chico {
    font-size: 12px;
    color: var(--textos);
    font-weight: bold;
}

.texto-path-chico {
    font-size: 11px;
    color: var(--celeste);
}

#item-7 {
    display: flex;
    justify-content: center;
}

.sub-item-7 {
    border-radius: 5px;
    margin: 2px;
    height: 70px;
    width: 120px;
    font-size: 10px;
    color: #FFF;
}
.svg-text {
    color: #FFF;
}

#mesas-escrutadas {
    background-color: var(--celeste);
    display: flex;
}

#electores {
    background-color: var(--magenta);
    display: flex;
}

#participacion-sobre-escrutado {
    background-color: var(--morado);
    display: flex;
}

#item-8 {
    display: grid;
    grid-template-columns: auto auto;
    width: 325px;
    padding: 5px;
    font-size: 10px;
}

.sub-item-8 {
    color: var(--textos);
}
.sub-item-8b {
    padding-right: 80px;
}