/*#msg-container {

}*/
.msg-divs {
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}
#msg-1 {
    background-color: var(--mensaje-usuario-verde);
}
#msg-2 {
    background-color: var(--mensaje-usuario-rojo);
}
#msg-3 {
    background-color: var(--mensaje-usuario-amarillo);
}
.msg-text {
    color: #FFffFF;
}